.buttoncss
{
	font-family: "tahoma" , "ו";
	font-size: 9pt;
	color: #003399;
	border: 1px #003399 solid;
	color: #006699;
	border-bottom: #93bee2 1px solid;
	border-left: #93bee2 1px solid;
	border-right: #93bee2 1px solid;
	border-top: #93bee2 1px solid;
	background-color: #e8f4ff;
	cursor: pointer;
	font-style: normal;
	width: 30px;
	height: 18px;
}
.multieditbox
{
	background: #f8f8f8;
	border-bottom: #93bee2 1px solid;
	border-left: #93bee2 1px solid;
	border-right: #93bee2 1px solid;
	border-top: #93bee2 1px solid;
	color: #000000;
	cursor: text;
	font-family: "arial";
	font-size: 9pt;
	padding: 1px;
}
.asptext
{
	border-top: 1px solid #93bee2;
	border-right: 1px solid #93bee2;
	border-bottom: 1px solid #93bee2;
	border-left: 1px solid #93bee2;
}
.buttonok
{
	font-family: "tahoma" , "ו";
	font-size: 9pt;
	color: #003399;
	border: 1px #003399 solid;
	color: #006699;
	border-bottom: #93bee2 1px solid;
	border-left: #93bee2 1px solid;
	border-right: #93bee2 1px solid;
	border-top: #93bee2 1px solid;
	background-color: #e8f4ff;
	cursor: pointer;
	font-style: normal;
	width: 60px;
	height: 22px;
}