<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="coolite" type="Coolite.Web.UI.GlobalConfig" requirePermission="false" />-->
    <!--2009-12-09 手动添加 -->
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pbzx.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--2009-12-09 手动添加 -->
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/UserCenter/OrderShow/(\d)\-(.[\w]*).htm</LookFor>
        <SendTo>
          <![CDATA[~/UserCenter/OrderShow.aspx?type=$1&ID=$2]]>
        </SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <connectionStrings/>
  <appSettings>
    <add key="FCKeditor:BasePath" value="/PinbleContentPro/"/>
    <add key="FCKeditor:UserFilesPath" value="/Images/UploadFiles/"/>
    <add key="FCKeditor:FolderPattern" value="%y/%m/%d/"/>
    <add key="vs:EnableBrowserLink" value="false"/>
	  <!-- 连接字符串是否加密 -->
	  <add key="ConStringEncrypt" value="false" />
	  <!-- 连接字符串,连接Web库(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false Integrated Security=True  Integrated Security=SSPI-->
	  <add key="ConnectionString" value="server=localhost;database=Pinble_Web;uid=Pinble_Web;pwd=123456;" />
	  <!--连接CST库 -->
	  <add key="ConnectionString2" value="server=localhost;database=Pinble_Cst;uid=Pinble_Cst;pwd=123456;" />
	  <!--连接BBS库-->
	  <add key="ConnectionStringBBS" value="server=localhost;database=Pinble_Bbs;uid=Pinble_bbs;pwd=123456;" />
	  <!--连接MeChat库-->
	  <add key="ConnectionStringMeChat" value="server=localhost;database=MeChat;uid=MeChat;pwd=123456;" />
	  <add key="HostName" value="localhost" />
    <add key="BBSURL" value="bbs1.pinble.cn"/>
    <add key ="WAPURL" value="wap1.pinble.cn"/>
    <add key="Domain" value="localhost"/>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Pbzx.SQLServerDAL"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value=""/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--是否把日志写入文件ErrorMessage.txt-->
    <add key="LogInFile" value="false"/>
    <!--　是否把日志写入数据库-->
    <add key="LogInDB" value="true"/>
    <!--　保留最近日志天数-->
    <add key="LogLastDays" value="1"/>
    <!--新闻或文档的图片上传（images下的）文件夹名-->
    <add key="UpNewsImageFolder" value="ImgNewsup"/>
    <!--商品图片文件夹名-->
    <add key="ProductImageFolder" value="ProductImages"/>
    <!--管理员所属部门名称,-->
    <add key="AdManager" value="管理部"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--加密key 键值对-->
    <add key="JiaMiKey" value="xianying"/>
    <!--设置system目录的相对路径,请相对于web.config文件所在的目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置systemfolder属性,方便项目的整体调用)-->
    <add key="systemfolder" value="system_dntb/"/>
    <!--设置皮肤目录的相对路径,请相对于system目录(设置这个属性以后,该虚拟目录下所有级别目录页面的控件调用都不用单独设置skin属性,方便项目的整体调用)-->
    <add key="skin" value="skin/default/"/>
    <!--防注入设置 2010-01-19添加 start -->
    <add key="SQLInject" value="*|exec|insert|select|delete|update|count|truncate|declare|char(|mid(|chr(|'|char(|union"/>
    <add key="SQLInjectErrPage" value="/Error.htm"/>
    <!--防注入设置 2010-01-19添加 end-->
    <!--首页全国开奖防盗链判断配置-->
    <add key="HostName" value="localhost"/>
    <!--服务器IP地址（首页全国开奖Application更新）-->
    <add key="ServerIP" value=""/>
    <!--后台订单自动过期天数配置-->
    <add key="OrderCancelDay" value="15"/>
    <!--经纪人定时更新时间配置小时（值代表意义- 小时）-->
    <add key="BrokerH" value="0"/>
    <!--经纪人定时更新时间配置分钟（值代表意义- 分钟）-->
    <add key="BrokerM" value="10"/>
    <!--订单定时更新时间配置小时（值代表意义- 小时）-->
    <add key="OrderH" value="0"/>
    <!--订单定时更新时间配置分钟（值代表意义- 分钟）-->
    <add key="OrderM" value="10"/>
    <!--过期消息清理时间配置（值代表意义- 0:不清理，1:删除1个月以后的，2:删除2个月以后的，以此类推）-->
    <add key="MessageCancelMonth" value="6"/>
    <!--用户日志清理时间配置（值代表意义- 0:不清理，1:删除1个月以后的，2:删除2个月以后的，以此类推）-->
    <add key="UserLogCancelMonth" value="3"/>
    <!--用户日志清理时间配置（值代表意义- 0:不清理，1:删除1个月以后的，2:删除2个月以后的，以此类推）-->
    <add key="AdminLogCancelMonth" value="3"/>
    <!--系统日志写入打开开关-->
    <add key="SysErrorLog_OnOff" value="on" />
    <!--应用日志写入打开开关-->
    <add key="AppErrorLog_OnOff" value="on" />
    <!--用户日志(登录部分记录开关)-->
    <add key="UserLog_Login_OnOff" value="on"/>
    <!--用户日志(注册密码密保相关记录开关)-->
    <add key="UserLog_PWD_OnOff" value="on"/>
    <!--用户日志(网站恶意攻击记录开关)-->
    <add key="UserLog_Into_OnOff" value="on"/>
    <!--设置软件读取消息的时间-->
    <add key="Msg_Minute" value="900"/>
    <!--设置是否远程调用邮件发送-->
    <add key="LongJmail" value="true"/>
    <!--设置是否启动消息日志-->
    <add key="Msglog" value="true"/>
    <!-- 转发新浪微博默认图片配置 没有默认图片value为空。 value对应默认图片路径 http://tp3.sinaimg.cn/1654090874/50/1274940782/1-->
    <add key="SinaPic_Path" value=""/>
    <!--Wap.pinble.com 开奖数据更新密码-->
    <add key="UDS" value="YPINBLE"/>
    <add key="PDS" value="5Z2Y7BNC"/>
  </appSettings>
  <system.web>
    <machineKey validationKey="2541D10B83418832CF85B509B543B26A44D0ED3D" decryptionKey="C0145F7534ACA490" validation="SHA1"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="720"/>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="zh-CN" culture="zh-CN"/>
    <!-- 
    <customErrors   mode="On" defaultRedirect="/Error.htm" >   
      <error  statusCode="500" redirect="/Error.htm" />        
      <error statusCode="404" redirect="/PageNoFound.htm"/>   
      <error statusCode="403" redirect="http:/anotherhost/pages/noaccess.html"/>
    </customErrors>
    -->
    <!-- 原有的默认模式，若使用session，iis应用程序最大进程数支持1 <sessionState mode="InProc" timeout="120"/>  -->
    <!--StateServer模式将Session存储在ASP.NET状态服务的进程中，iis应用程序最大进程数支持>=1
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false"/> -->
    
    <pages     enableEventValidation="false"  enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
          Set compilation debug="true" to insert debugging
          

          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*.jpg" type="Pbzx.Web.AppCode.CheckImgLinks"/>
      <add verb="*" path="*.gif" type="Pbzx.Web.AppCode.CheckImgLinks"/>
      <add verb="*" path="*.png" type="Pbzx.Web.AppCode.CheckImgLinks"/>
      <add verb="*" path="*.swf" type="Pbzx.Web.AppCode.CheckImgLinks"/>
      <!--<add path="*/coolite.axd" verb="*" type="Coolite.Ext.Web.ResourceManager"
        validate="false" />-->
    </httpHandlers>
    <httpModules>
      <!--全局异常处理 2015-01-25添加 -->
      <add name="errorCatchModule" type="Pbzx.Web.ErrorHandlerModule,Pbzx.Web"/>
      <!--防注入设置 2010-01-19添加 start-->
      <add name="SqlstrAny" type=" Pbzx.Common.SqlstrAny"/>
      <!--防注入设置 2010-01-19添加 end-->
      <!--<add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />-->
      <!--2009-12-09 手动添加 -->
      <add name="ModuleRewriter" type="URLRewriter.ModuleRewriter, URLRewriter"/>
    </httpModules>
    <!--Form认证设置Start   domain=".pinble2.com"   -->
    <authentication mode="Forms">
      <forms name="Pinble" defaultUrl="/Default.aspx" loginUrl="/Login.aspx" domain="localhost" enableCrossAppRedirects="true" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--Form认证设置End-->
  </system.web>
  <!-- Begin 排除不需要验证的目录或文件-->
  <location path="AddOrder.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Broker_Agrt.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Broker_Agrt2.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserCenter1.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChatChangeInfo.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PB_Manage/KJCpSort_Editor.aspx">
    <system.web>
      <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="PB_Manage/CST/SoftReg_Manager.aspx">
    <system.web>
      <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="PB_Manage/CST/SoftMessage_Editor.aspx">
    <system.web>
      <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="Chat.aspx">
    <system.web>
      <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="PostedInquiry.aspx">
    <system.web>
      <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="PostedInquiryShow.aspx">
    <system.web>
      <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN"/>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="javascript">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- END 排除不需要验证的目录或文件-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="AjaxRequestModule" preCondition="managedHandler" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />-->
    </modules>
    <handlers>
      <!--<add name="AjaxRequestHandler" verb="*" path="*/coolite.axd" preCondition="integratedMode" type="Coolite.Ext.Web.ResourceManager"/>-->
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Pbzx.Web.Properties.Settings>
      <setting name="Pbzx_Web_NewPayCheck_GatewayOrderQueryService" serializeAs="String">
        <value>https://www.99bill.com/gatewayapi/services/gatewayOrderQuery</value>
      </setting>
      <setting name="Pbzx_Web_Web_JmailService_WebService1" serializeAs="String">
        <value>http://localhost:8476/WebService1.asmx</value>
      </setting>
    </Pbzx.Web.Properties.Settings>
  </applicationSettings>
</configuration>